<% include ./partials/header %>

<div class = "ui main text container segment">
	<div class = "ui huge header">Edit <%= student.firstname %></div>
	<form class = "ui form" action = "/students/<%= student._id %>?_method=PUT" method = "POST">
		<div class = "field">
			<label>Student ID</label>
			<input type = "text" name = "student[studentid]" value = "<%= student.studentid%>">
		</div>
		<div class = "field">
			<label>Username</label>
			<input type = "text" name = "student[username]" placeholder = "Username" value = "<%= student.username%>">
		</div>
		<div class = "field">
			<label>First Name</label>
			<input type = "text" name = "student[firstname]" value = "<%= student.firstname %>">
		</div>
			<div class = "field">
			<label>Last Name</label>
			<input type = "text" name = "student[lastname]" value = "<%= student.lastname %>">
		</div>
			
			<div class = "field">
			<label>Pass Code</label>
			<input type = "text" name = "student[password]" value = "<%= student.password %>">
		</div>
			<div class = "field">
			<label>Math Points</label>
			<input type = "text" name = "student[mathpts]" value = "<%= student.mathpts %>">
		</div>
			<div class = "field">
			<label>Reading Points</label>
			<input type = "text" name = "student[readingpts]" value = "<%= student.readingpts %>">
		</div>
			<div class = "field">
			<label>School</label>
			<input type = "text" name = "student[school]" value = "<%= student.school %>">
		</div>
			<div class = "field">
			<label>Grade</label>
			<input type = "text" name = "student[grade]" value = "<%= student.grade %>">
		</div>
			<div class = "field">
			<label>Math Teacher</label>
			<input type = "text" name = "student[mathteacher]" value = "<%=student.mathteacher%>">
		</div>
			<div class = "field">
			<label>Reading Teacher</label>
			<input type = "text" name = "student[readingteacher]" value = "<%=student.readingteacher%>">
		</div>
		<input class="ui primary button" type = "submit"  >
	</form>
</div>

<% include ./partials/footer %>