<% include ./partials/studentheader %>
<body class = "ui container">
	<div id = "jumb" class = "jumbotron">
<!-- <h1>ScholarBucks Store</h1> -->

</div>
	<h4 style="margin-top: 50px; font-size: 2.5em;">
		You have
		<% if (totalpts === '') { %>
				0
				<%} else { %>
				<%=totalpts%>
				<% } %>
		points
	</h4>
	<p>
		(Prizes with the * symbol may vary from the pictures)
	</p>
	<div class="row">
	<% var count = 1 %>
	<% prizes.forEach(function(prize){ %>
	<div class="col-md-4 col-sm-6 col-xs-12">
	<div class="card" style="width: 18rem;">
  <img style="max-width: 252px" src="<%=prize.prizeimage%>" class="card-img-top" alt="...">
  <div class="card-body" style="text-align: center">
    <h5 class="card-title"><%=prize.prizename%></h5>
	<%if (typeof prize.gradeLevel !== 'undefined') {%>
	  <%if (prize.gradeLevel.length > 0) {%>
		<p>
			Grade Level: <%=prize.gradeLevel%>
	  </p>
	  <p>
			Type of Book: <%=prize.type%>
	  </p>
	  <p>
			Gender: <%=prize.gender%>
	  </p>
	  <%}%>
	  <%}%>
    <div class="meta">
        			<span class="cinema"><%=prize.prizepoints%> Points</span>
      				</div>
      				<div class="extra">
        			
    <button id="<%=prize._id%>" onclick="addToCart(this.id)" class="btn btn-primary">Add To Shopping Cart</button>
  </div>
</div>
	</div>
	</div>
		<% if (count%3 === 0) { %>
		</div><div class="row">
		<% } %>
	
		<% count = count+1 %>
	<% }) %> 
	
	
	
	<script src="https://code.jquery.com/jquery-3.1.1.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">
</script>
	
	
	<script>

		var cart = []
		function addToCart(_id) {
			var input = {
				id: _id
			}
			console.log(input)
			fetch('/addToCart', {
        	method: 'POST',
        	body: JSON.stringify(input),
        	headers: { "Content-Type": "application/json"}
    		}).then(function(response) {
        		return response.json();
    		}).then(function(data) {
        		location.reload();
				// document.getElementById('cart').innerHTML = '<i class="fa fa-shopping-cart" style="font-size:24px;color:white"></i>' + data.newQuantity;
    		})
		}
	</script>
	
	
	</body>
</html>